div#container
{
   width: 800px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #EEEEEE;
   color: #0000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Layer4
{
   background-color: transparent;
   background-image: url(images/index_Layer4_bkgrnd.png);
   background-repeat: repeat-x;
   background-position: left top;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_CssMenu1
{
   border: 0px #DCDCDC solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 80px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #696969;
   border: 0px #C0C0C0 solid;
   background-color: #F4F3F3;
   background: -moz-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: -webkit-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: -o-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: -ms-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 70px;
   height: 70px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 70px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #696969;
   background-color: #B9B9B9;
   background: -moz-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: -webkit-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: -o-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: -ms-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   border: 0px #C0C0C0 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Shape4
{
   border-width: 0;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text3 div
{
   text-align: justify;
   white-space: normal;
}
#wb_Carousel1
{
   background-color: #008000;
   background-image: none;
}
#Carousel1 .frame
{
   width: 799px;
   display: inline-block;
   float: left;
   height: 316px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 999;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#wb_CssMenu2
{
   border: 0px #DCDCDC solid;
   background-color: transparent;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu2 a
{
   display: block;
   color: #696969;
   border: 0px #C0C0C0 solid;
   background-color: #F4F3F3;
   background: -moz-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: -webkit-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: -o-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: -ms-linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   background: linear-gradient(bottom,#F4F3F3 0%,#F4F3F3 100%);
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 96.88%;
   height: 40px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover, #wb_CssMenu2 .active
{
   color: #696969;
   background-color: #B9B9B9;
   background: -moz-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: -webkit-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: -o-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: -ms-linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   background: linear-gradient(bottom,#B9B9B9 0%,#EEEEEE 100%);
   border: 0px #C0C0C0 solid;
}
#wb_CssMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text1 div
{
   text-align: justify;
   white-space: normal;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Shape4
{
   position: absolute;
   left: 0px;
   top: 69px;
   width: 800px;
   height: 324px;
   z-index: 8;
}
#wb_Text1
{
   position: absolute;
   left: 864px;
   top: 36px;
   width: 323px;
   height: 191px;
   text-align: justify;
   z-index: 3;
}
#Carousel1_next
{
   position: absolute;
   right: 4px;
   top: 45%;
   width: 30px;
   height: 30px;
   z-index: 999;
}
#wb_Image1
{
   position: absolute;
   left: 418px;
   top: 45px;
   width: 336px;
   height: 179px;
   z-index: 2;
}
#wb_Text3
{
   position: absolute;
   left: 69px;
   top: 33px;
   width: 323px;
   height: 191px;
   text-align: justify;
   z-index: 1;
}
#wb_Image2
{
   position: absolute;
   left: 1252px;
   top: 38px;
   width: 278px;
   height: 186px;
   z-index: 4;
}
#Shape4
{
   width: 800px;
   height: 324px;
}
#Carousel1_back
{
   position: absolute;
   left: 4px;
   top: 45%;
   width: 30px;
   height: 30px;
   z-index: 999;
}
#Layer4_Container
{
   width: 800px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text6
{
   position: absolute;
   left: 9px;
   top: 14px;
   width: 269px;
   height: 37px;
   z-index: 6;
   text-align: left;
}
#Layer4
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 845px;
   width: 100%;
   height: 55px;
   z-index: 11;
}
#wb_Carousel1
{
   position: absolute;
   left: 1px;
   top: 77px;
   width: 799px;
   height: 316px;
   z-index: 9;
   overflow: hidden;
}
#wb_Text11
{
   position: absolute;
   left: 7px;
   top: 22px;
   width: 780px;
   height: 16px;
   text-align: center;
   z-index: 0;
}
#wb_CssMenu1
{
   position: absolute;
   left: 318px;
   top: 0px;
   width: 483px;
   height: 70px;
   z-index: 7;
}
#wb_CssMenu2
{
   position: absolute;
   left: 0px;
   top: 0px;
   width: 320px;
   height: 240px;
   visibility: hidden;
   z-index: 10;
}
#Carousel1
{
   position: absolute;
}
@media only screen and (max-width: 320px)
{
div#container
{
   width: 320px;
}
#BuildWith1
{
   left: 732px;
   top: 22px;
   width: 62px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 26px;
   top: 14px;
   width: 269px;
   height: 37px;
   visibility: visible;
   display: inline;
}
#Layer4
{
   left: 0px;
   top: 1051px;
   height: 75px;
   visibility: visible;
   display: inline;
}
#Layer4
{
   width: 100%;
}
#Layer4_Container
{
   width: 320px;
}
#wb_Text11
{
   left: 15px;
   top: 20px;
   width: 282px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_CssMenu1
{
   left: 318px;
   top: 0px;
   visibility: hidden;
   display: none;
}
#wb_Shape4
{
   left: 0px;
   top: 69px;
   visibility: hidden;
   display: none;
}
#wb_Text3
{
   left: 69px;
   top: 33px;
   visibility: visible;
   display: inline;
}
#wb_Carousel1
{
   left: 0px;
   top: 70px;
   width: 799px;
   height: 316px;
   visibility: hidden;
   display: none;
}
#Carousel1 .frame
{
   width: 799px;
   height: 316px;
}
#wb_CssMenu2
{
   left: 0px;
   top: 63px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 865px;
   top: 43px;
   visibility: visible;
   display: inline;
}
}
